.about__container{
    display:grid;
    grid-template-columns: 35% 50%;
    gap:15%
}

.about__me{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
   
    display: grid;
    place-items: center;
}

.about__me-image{
    margin-top: 40px;
    border-radius: 2rem;
    overflow: hidden;
    transform-origin: rotate(10deg);
    transition: var(--transition);
}

.about__me-image:hover{
    transform: rotate(0);
}




.about__cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1rem;
   
}

.about__card{
    
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
    
}

.about__card:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}

.about__icon{
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom:1rem
}



/*Media Query Medium Device*/

@media screen and (max-width:1024px) {

    .about__container{
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me{
        width: 50%;
        margin:2rem auto 4rem;
    }
    
}

/* Media Query Small Device*/

@media screen and (max-width:600px) {

    .about__me{
        width: 65%;
        margin:0 auto 3rem;
    }

    .about__cards{
        grid-template-columns: 1fr 1fr;
        gap:1rem;
    }

    .about__content{
        text-align: center;
    }

}