header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

/* CTA*/

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;

}


/* Header Socials*/

.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    top: 20rem;
    font-size: 1.3rem;
    
    
}


/* Scroll Down */

.scroll__down{
    position: absolute;
    right:-2.3rem;
    top: 22.5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1.2rem;

}


/* Media Queries for Medium Screen*/

@media screen and (max-width:1024px){
     header{
        height: 68vh;

     }
     
}

/* Media Queries for Small Screen*/

@media screen and (max-width:600px){
     header{
        height: 100vh;
     }
     .header__socials,.scroll__down{
        display: none;
     }
}